# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# Environment variables
.env

# Build output
build/
out/

# IDE files
.vscode/
.idea/
*.sublime-*
*.swp
.vercel

# Development
dev/
.rest